# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Packages
/Packages/*
!/Packages/manifest.json
!/Packages/packages-lock.json

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Builds
Builds/


.vs/
.aider*
repomix-output.xml